<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOC Merchant Service Portal Email Password Notification</title>
</head>
<body>
<p>Dear Merchant,</p>
<p>Please use the password below for your BOC Merchant Portal Login.</p>
<h2 th:text="${code}">123456</h2>
<p>Kindly contact us if you did not send this request.</p>
<p>
    Regards
</p>
<p>
    Merchant Support Unit<br/>
    Bank of China Ltd, Card Centre<br/>
    133 Middle Road,#03-01 BOC Plaza Singapore 188974 DID: 6412 9779<br/>
    Email : MSU_sg@mail.notes.bank-of-china.com / msu.sg@bankofchina.com<br/>
    Website: http://www.bankofchina.com/sg
</p>

<p>
    此邮件信息只供收件人查询，所含任何评论、陈述或数据仅供收件人参考，不代表中国银行正式观点，若有改动，恕可 能不另行通知。
    未经中国银行书面许可，请勿披露、复制、转载此邮件信息。任何第三方均不得查阅或使用此邮件信息。
    发件人及中国银行均不对因邮件可能引发的损失负责。
    This email and its contents (including attachments) are confidential and privileged and are only intended for the
    addressee(s) specified. Any comment, statement or data
    contained herein are for reference only and may not be accurate or represent the official views of Bank of China
    Limited, Singapore Branch (“BOCSG”). BOCSG does not accept any duty to rectify or update the addressee(s) of
    changes.
    Please do not disclose, copy, store or distribute the contents (including any personal data) without the written
    permission of BOCSG. The sender and BOCSG are not responsible for any loss arising from this email. If you are not
    the intended recipient of this email, please notify the sender and BOCSG and permanently delete it immediately.
    Please
    be cautioned against unauthorised use, retention and disclosure of personal data as set out in the Singapore
    Personal
    Data Protection Act and any other applicable data protection laws and regulations
</p>
</body>
</html>